.home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGxhcHRvcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1");
  background-size: cover;
  background-repeat: no-repeat;
}

.home .home-content {
  color: white;
  margin-left: 10px;
}

.home .text .text-one {
  font-size: 30px;
}

.home .text .text-two {
  font-size: 40px;
  font-weight: 500;
}

.home .button button {
  outline: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 2px 10px;
  background: rgb(30, 62, 241);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  color: rgb(8, 45, 255);
  background-color: white;
  border: 1px solid transparent;
  transform: scale(1.1);
}

.clleg {
  color: white;
  display: inline-block;
  position: relative;
  top: 130px;
  left: 105px;
  width: 130px;
  font-size: 30px;
  transform: rotate(-10deg);
}

.clleg a {
  color: white;
}

@media (max-width: 715px) {
  .clleg {
    top: 60px;
    left: 70px;
  }
}

@media (min-width: 715px) {
  .clleg {
    top: 80px;
    left: 70px;
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .clleg {
    font-size: 50px;
    top: 150px;
    left: 100px;
  }
}

@media (max-width: 510px) {
  .home .text .text-one {
    font-size: 30px;
  }
  .clleg {
    top: 122px;
    left: 80px;
  }
  .home .text .text-two {
    font-size: 30px;
  }
}
