.skills {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  min-height: 80vh;
}
.skills .content {
  padding: 5px 0;
}
.skill-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 30vh;
}
.skill-details span {
  font-size: 30px;
  margin: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 1190px) {
  .skills .content {
    width: 90%;
  }
}
